.btn, .btn-flat {
	display: inline-block;
	height: 36px;
	line-height: 36px;
	padding: 0 18px;
	margin: 12px;
	text-transform: uppercase;
	vertical-align: middle;
	cursor: pointer;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;

	&:hover, &:focus {
		background-color: lighten($button-color, 10%);
		color: $button-text-color;

		&:active {
			background-color: darken($button-color, 2%);
		}
	}

	&.disabled {
		pointer-events: none;
		color: $disabled-color;
		background: lighten($disabled-color, 15%);
	}
}

.btn {
	background: $button-color;
	color: $button-text-color;

	&.outline {
		color: $button-color;
		background: transparent;
		border: 1px solid $button-color;
		line-height: 32px;

		&:hover, &:focus {
			background-color: $button-color;
			color: $button-text-color;

			&:active {
				border-color: darken($button-color, 2%);
				color: rgba(0,0,0,.8);
				background-color: darken($button-color, 2%);
			}
		}
	}
}

.btn-large {
	@extend .btn;
	height: 48px;
	line-height: 48px;

	&.outline {
		line-height: 46px;
	}
}

.btn-flat {
	color: $button-text-color;

	&:hover, &:focus {
		background-color: rgba(0,0,0,.03);

		&:active {
			border-top: 0;
			background-color: rgba(0,0,0,.04);
		}
	}
}