html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

a {
	color: $link-color;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

.divider {
	height: 1px;
	overflow: hidden;
	background-color: color("grey", "lighten-2");
}

.hide-on-phone-only, .hide-on-phone-and-down {
	@media #{$phone-and-down} {
		display: none !important;
	}
}
.hide-on-tablet-and-down {
	@media #{$tablet-and-down} {
		display: none !important;
	}
}
.hide-on-tablet-and-up {
	@media #{$tablet-and-up} {
		display: none !important;
	}
}
.hide-on-tablet-only {
	@media only screen and (min-width: $phone-screen) and (max-width: $tablet-screen) {
		display: none !important;
	}
}
.hide-on-desktop-only {
	@media #{$desktop-and-up} {
		display: none !important;
	}
}
.display-on-desktop {
	@media #{$desktop-and-up} {
		display: block !important;
	}
}
.display-on-tablet {
	@media only screen and (min-width: $phone-screen) and (max-width: $tablet-screen) {
		display: block !important;
	}
}
.display-on-phone {
	@media #{$phone-and-down} {
		display: block !important;
	}
}
.display-on-tablet-and-up {
	@media #{$tablet-and-up} {
		display: block !important;
	}
}
.display-on-tablet-and-down {
	@media #{$tablet-and-down} {
		display: block !important;
	}
}

.center-on-phone-only {
	@media #{$phone-and-down} {
		text-align: center;
	}
}

.hide {
	display: none !important;
}

.left-align {
	text-align: left;
}
.right-align {
	text-align: right
}
.center, .center-align {
	text-align: center;
}

.left {
	float: left !important;
}

.right {
	float: right !important;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.circle {
	border-radius: 50%;
}

.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.truncate {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.no-padding {
	padding: 0 !important;
}

input[type=radio],
input[type=checkbox] {
	position: absolute;
	display: none;
}

input[type=radio] + label,
input[type=checkbox] + label {
	position: relative;
	display: inline-block;
	padding: 10px 30px 10px 30px;
	cursor: pointer;
	vertical-align: middle;

	&:before {
		position: absolute;
		top: 10px;
		left: 0;
		display: inline-block;
		width: $checkbox-size;
		height: $checkbox-size;
		content: '';
		border: 2px solid $default-color;
	}
	&:after {
		position: absolute;
		display: none;
		content: '';
	}
}

input[type=radio][disabled] + label,
input[type=checkbox][disabled] + label {
	color: $disabled-color;

	&:hover {
		&:before {
			border: 2px solid $disabled-color;
			animation-name: none;
		}
	}
	&:before {
		border-color: $disabled-color;
	}
}

input[type=radio]:checked + label,
input[type=checkbox]:checked + label {
	&:before {
		animation-name: none;
	}
	&:after {
		display: block;
	}
}

.sticky {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -o-sticky;
	position: -ms-sticky;
	position: sticky;
	top: 0;
	z-index: 1;
}

footer {
	background-color: $primary-color;
	color: #fff;

	.copyright {
		overflow: hidden;
		height: 50px;
		line-height: 50px;
		color: #fff;
		background-color: darken($primary-color, 5%);
	}
}

ul {
	&:not(.browser-default) {
		padding-left: 0;
		list-style-type: none;

		li {
			list-style-type: none;
		}
	}

	&.inline {
		li {
			margin: 0 5px;
			display: inline;
		}
	}
}