select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	box-shadow: none;
	outline: 0;
	height: 32px;
	background: transparent;
	position: relative;
	z-index: 2;
	background: transparent;
	background-image: url("../images/icon.svg");
	background-repeat: no-repeat;
	background-position: top -310px right 1px;
	box-sizing: border-box;
	border: 0;
	width: 100%;
	border: 1px solid $default-color;
	padding: 0;
	border-radius: 0;
	line-height: 2rem;
	margin: 20px 0 5px 0;

	&:active, &:focus {
		border-color: $secondary-color;
	}

	&:active + label, &:focus + label {
		color: $secondary-color;
	}

	&:disabled {
		color: $disabled-color;
		cursor: default;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		border: 1px solid $disabled-color;
		background-position: top -335px right 1px;

		&:active, &:focus {
			-webkit-box-shadow: none;
			-moz-box-shadow: none;
			box-shadow: none;
		}

		& + label {
			color: $disabled-color;
			cursor: default;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
		}
	}

	option {
		padding: 0;
	}
}