.btn, .btn-flat {
    display: inline-block;
    height: 36px;
    line-height: 36px;
    padding: 0 16px;
    margin: 12px;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    &:hover, &:focus {
        background-color: desaturate(darken($button-color, 10%),30%);
        color: $button-text-color;

        &:active {
            background-color: desaturate(darken($button-color, 10%),50%);
        }
    }
}

.btn {
    background: $button-color;
    color: $button-text-color;
    border-bottom: 3px solid darken($button-color, 30%);
}

.btn-large {
    @extend .btn;
    height: 44px;
    line-height: 44px;
}

.btn-flat {
    color: $button-text-color;

    &:hover, &:focus {
        background-color: rgba(0,0,0,.05);

        &:active {
             background-color: rgba(0,0,0,.15);
        }
    }
}

.btn-round {
    @extend .btn;
    border-radius: 18px;
}

.btn-round-large {
    @extend .btn-large;
    @extend .btn-round;
    border-radius: 36px;
}