input:not([type]),
input[type=text],
input[type=password],
input[type=email],
input[type=url],
input[type=time],
input[type=date],
input[type=datetime],
input[type=datetime-local],
input[type=tel],
input[type=number],
input[type=search],
textarea {
    background-color: transparent;
    border: none;
    border: 1px solid $default-color;
    border-radius: 0;
    outline: none;
    height:30px;
    width: 100%;
    margin: 20px 0 5px 0;
    padding: 0 5px;
    box-shadow: none;
    box-sizing: content-box;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;

    &:focus {
        border-color: $secondary-color;
    }

    & + label {
        transition: all 0.25s ease-in-out;
    }

    &:focus + label {
        color: $secondary-color;
    }

    &:disabled {
        border-color: $disabled-color;

        & + label {
            cursor: default;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            color: $disabled-color;
        }
    }
}

.input-group {
    position: relative;
    margin: 1rem 0;

    label {
        color: $default-color;
        position: absolute;
        top: 0;
        left: $gutter / 2;
        font-size: 0.9rem;
        cursor: text;
        transition: .2s ease-out;
    }
}

textarea {
    resize: none;
    box-sizing: border-box;
    padding: 5px;
    min-height: 65px;
}

::-webkit-input-placeholder {
    font-family: 'Open Sans';
    color: $default-color;
}

:-moz-placeholder {
    font-family: 'Open Sans';
    color: $default-color;
}

::-moz-placeholder {
    font-family: 'Open Sans';
    color: $default-color;
}

:-ms-input-placeholder {
    font-family: 'Open Sans';
    color: $default-color;
}