$primary-color: color("cyan", "300") !default;
$secondary-color: color("yellow", "300") !default;
$text-color: color("black", "500") !default;
$default-color: color("grey", "500") !default;
$success-color: color("green", "500") !default;
$error-color: color("red", "500") !default;
$link-color: color("blue", "500") !default;

$button-color: $secondary-color !default;
$button-text-color: color("black", "500") !default;

$roboto-font-path: "../fonts/roboto/" !default;

$h1-fontsize: 4.2rem !default;
$h2-fontsize: 3.56rem !default;
$h3-fontsize: 2.92rem !default;
$h4-fontsize: 2.28rem !default;
$h5-fontsize: 1.64rem !default;
$h6-fontsize: 1rem !default;

$small-screen-up: 601px !default;
$medium-screen-up: 961px !default;
$large-screen-up: 1281px !default;
$small-screen: 600px !default;
$medium-screen: 960px !default;
$large-screen: 1280px !default;

$medium-and-up: "only screen and (min-width : #{$small-screen-up})" !default;
$large-and-up: "only screen and (min-width : #{$medium-screen-up})" !default;
$small-and-down: "only screen and (max-width : #{$small-screen})" !default;
$medium-and-down: "only screen and (max-width : #{$medium-screen})" !default;
$medium-only: "only screen and (min-width : #{$small-screen-up}) and (max-width : #{$medium-screen})" !default;

$num-cols: 12 !default;
$gutter: 2rem !default;

$radio-size: 20px !default;
$radio-dot-size: 20px !default;
$checkbox-size: 20px !default;