header
	div.row.center.hide-on-tablet-and-down
		div.col.phone-12.cyan-a400
			h1.white-text.light Responsivr
	nav.navbar
		div.container
			a.brand(href='index.html') Responsivr
			a.toggle.right.hide-on-desktop-only(data-activates='mobile-nav') 
				i.material-icons.small menu
			ul.right.hide-on-tablet-and-down
				li
					a(href='/',class=(page == "Getting Started" ? "active" : "")) Getting started
				li
					a(href='/',class=(page == "CSS" ? "active" : "")) CSS
				li
					a(href='components.html',class=(page == "Components" ? "active" : "")) Components
				li
					a(href='/',class=(page == "JavaScript" ? "active" : "")) JavaScript

	nav#mobile-nav.navbar-side
		ul
			li
				a(href='/',class=(page == "Getting Started" ? "active" : "")) Getting started
			li
				a(href='/',class=(page == "CSS" ? "active" : "")) CSS
			li
				a(href='components.html',class=(page == "Components" ? "active" : "")) Components
			li
				a(href='/',class=(page == "JavaScript" ? "active" : "")) JavaScript