- var page = "Components"

doctype html
html(lang="en")
	head
		include _head.pug
		body.blue-grey-50
			include _navbar.pug
			main
				include pages/components.html
				include _footer.html
				include _scripts.html