doctype html
html(lang="en")
	head
		include components/head.pug
	body.blue-grey-50
		include components/navbar.pug
		main
			include pages/index.html
		include components/footer.html
		include components/scripts.pug