<div class="container white">
	<div class="row">
		<div class="col hide-on-phone-only tablet-4 desktop-3 right sticky">
			<div class="row">
				<div class="col phone-12">
					<ul class="list">
						<li><a href="#buttons">Buttons</a></li>
						<li><a href="#input">Input fields</a></li>
						<li><a href="#textarea">Textarea</a></li>
						<li><a href="#select">Select</a></li>
						<li><a href="#radio">Radio buttons</a></li>
						<li><a href="#checkbox">Checkboxes</a></li>
						<li><a href="#icons">Icons</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col phone-12 tablet-8">
			<div id="buttons" class="scrollspy">					
				<h3>Buttons</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
				<a class="btn waves-effect">Button</a>
				<a class="btn-large waves-effect">Large</a>
				<a class="btn-flat waves-effect">Flat</a>
				<a class="btn outline waves-effect">Outline</a>
				<a class="btn-large outline waves-effect">Outline</a>
				<a class="btn disabled">Disabled</a>
				<a class="btn-large disabled">Disabled</a>
				<a class="btn-flat disabled">Disabled</a>
			</div>

			<h3>Forms</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

			<div id="input" class="scrollspy">
				<h4>Input fields</h4>
				<div class="input-group col phone-12 tablet-6">
					<input type="text" id="first_name">
					<label for="first_name">First name</label>
				</div>

				<div class="input-group col phone-12 tablet-6">
					<input type="text" id="last_name" placeholder="Placeholder">
					<label for="last_name" class="active">Last name</label>
				</div>

				<div class="input-group col phone-12 tablet-6">
					<input type="password" id="password">
					<label for="password">Password</label>
				</div>

				<div class="input-group col phone-12 tablet-6">
					<input type="text" id="disabled" disabled>
					<label for="disabled">Disabled</label>
				</div>

				<pre data-language="HTML"><code class="language-markup">
	&lt;div class="input-group col phone-12 tablet-6">
		&lt;input type="text" id="first_name">
		&lt;label for="first_name">First name&lt;/label>
	&lt;/div>

	&lt;div class="input-group col phone-12 tablet-6">
		&lt;input type="text" id="last_name" placeholder="Placeholder">
		&lt;label for="last_name" class="active">Last name&lt;/label>
	&lt;/div>

	&lt;div class="input-group col phone-12 tablet-6">
		&lt;input type="password" id="password">
		&lt;label for="password">Password&lt;/label>
	&lt;/div>

	&lt;div class="input-group col phone-12 tablet-6">
		&lt;input type="text" id="disabled" disabled>
		&lt;label for="disabled">Disabled&lt;/label>
	&lt;/div>
				</code></pre>
			</div>

			<div id="textarea" class="scrollspy">					
				<h4>Textarea</h4>
				<div class="input-group col phone-12">
					<textarea autoresize id="textarea"></textarea>
					<label for="textarea">Textarea</label>
				</div>

				<pre data-language="HTML"><code class="language-markup">
	&lt;div class="input-group col phone-12">
		&lt;textarea autoresize id="textarea">&lt;/textarea>
		&lt;label for="textarea">Textarea&lt;/label>
	&lt;/div>
				</code></pre>
			</div>

			<div id="select" class="scrollspy">					
				<h4>Select</h4>
				<div class="input-group col phone-12 tablet-6">
					<select id="select1">
						<option selected disabled>Select an option</option>
						<option value="">Option 1</option>
						<option value="">Option 2</option>
						<option value="">Option 3</option>
					</select>
					<label>Select</label>
				</div>
				<div class="input-group col phone-12 tablet-6">
					<select id="select2" disabled>
						<option selected disabled>Select an option</option>
						<option value="">Option 1</option>
						<option value="">Option 2</option>
						<option value="">Option 3</option>
					</select>
					<label>Select disabled</label>
				</div>
				<div class="input-group col phone-12 tablet-6">
					<select id="select3">
						<option selected disabled>Select an option</option>
						<optgroup label="Group 1">
							<option value="">Option 1</option>
							<option value="">Option 2</option>
						</optgroup>
						<optgroup label="Group 2">
							<option value="">Option 3</option>
							<option value="" selected>Option 4</option>
						</optgroup>
					</select>
					<label>Select with groups</label>
				</div>
				<div class="input-group col phone-12 tablet-6">
					<select id="select4" multiple>
						<option value="">Option 1</option>
						<option value="">Option 2</option>
						<option value="">Option 3</option>
						<option value="">Option 4</option>
					</select>
					<label>Select multiple</label>
				</div>

				<pre data-language="HTML"><code class="language-markup">
	&lt;div class="input-group col phone-12 tablet-6">
		&lt;select>
			&lt;option selected>Select an option&lt;/option>
			&lt;option value="">Option 1&lt;/option>
			&lt;option value="">Option 2&lt;/option>
			&lt;option value="">Option 3&lt;/option>
		&lt;/select>
		&lt;label>Select&lt;/label>
	&lt;/div>

	&lt;div class="input-group col phone-12 tablet-6">
		&lt;select disabled>
			&lt;option selected>Select an option&lt;/option>
			&lt;option value="">Option 1&lt;/option>
			&lt;option value="">Option 2&lt;/option>
			&lt;option value="">Option 3&lt;/option>
		&lt;/select>
		&lt;label>Select disabled&lt;/label>
	&lt;/div>

	&lt;div class="input-group col phone-12 tablet-6">
		&lt;select id="select3">
			&lt;option selected disabled>Select an option&lt;/option>
			&lt;optgroup label="Group 1">
				&lt;option value="">Option 1&lt;/option>
				&lt;option value="">Option 2&lt;/option>
			&lt;/optgroup>
			&lt;optgroup label="Group 2">
				&lt;option value="">Option 3&lt;/option>
				&lt;option value="" selected>Option 4&lt;/option>
			&lt;/optgroup>
		&lt;/select>
		&lt;label>Select with groups&lt;/label>
	&lt;/div>

	&lt;div class="input-group col phone-12 tablet-6">
		&lt;select id="select4" multiple>
			&lt;option value="">Option 1&lt;/option>
			&lt;option value="">Option 2&lt;/option>
			&lt;option value="">Option 3&lt;/option>
			&lt;option value="">Option 4&lt;/option>
		&lt;/select>
		&lt;label>Select multiple&lt;/label>
	&lt;/div>
				</code></pre>
			</div>

			<div id="radio" class="scrollspy">					
				<h4>Radio buttons</h4>
				<div class="input-group col phone-12">
					<input type="radio" id="radio1" name="group1">
					<label for="radio1">
						Radio button
					</label>

					<input type="radio" id="radio2" name="group1" checked>
					<label for="radio2">
						Checked
					</label>

					<input type="radio" id="radio3" name="group1" disabled>
					<label for="radio3">
						Disabled
					</label>

					<input type="radio" id="radio4" name="group2" disabled checked>
					<label for="radio4">
						Disabled and checked
					</label>
				</div>

				<pre data-language="HTML"><code class="language-markup">
	&lt;div class="input-group col phone-12">
		&lt;input type="radio" id="radio1" name="group1">
		&lt;label for="radio1">
			Radio button
		&lt;/label>

		&lt;input type="radio" id="radio2" name="group1" checked>
		&lt;label for="radio2">
			Checked
		&lt;/label>

		&lt;input type="radio" id="radio3" name="group1" disabled>
		&lt;label for="radio3">
			Disabled
		&lt;/label>

		&lt;input type="radio" id="radio4" name="group2" disabled checked>
		&lt;label for="radio4">
			Disabled and checked
		&lt;/label>
	&lt;/div>
				</code></pre>
			</div>

			<div id="checkbox" class="scrollspy">					
				<h4>Checkboxes</h4>
				<div class="input-group col phone-12">
					<input type="checkbox" id="checkbox1" name="group3">
					<label for="checkbox1">
						Checkbox
					</label>

					<input type="checkbox" id="checkbox2" name="group3" checked>
					<label for="checkbox2">
						Checked
					</label>

					<input type="checkbox" id="checkbox3" name="group3" disabled>
					<label for="checkbox3">
						Disabled
					</label>

					<input type="checkbox" id="checkbox4" name="group3" disabled checked>
					<label for="checkbox4">
						Disabled and checked
					</label>
				</div>

				<pre data-language="HTML"><code class="language-markup">
	&lt;div class="input-group col phone-12">
		&lt;input type="checkbox" id="checkbox1" name="group3">
		&lt;label for="checkbox1">
			Checkbox
		&lt;/label>

		&lt;input type="checkbox" id="checkbox2" name="group3" checked>
		&lt;label for="checkbox2">
			Checked
		&lt;/label>

		&lt;input type="checkbox" id="checkbox3" name="group3" disabled>
		&lt;label for="checkbox3">
			Disabled
		&lt;/label>

		&lt;input type="checkbox" id="checkbox4" name="group3" disabled checked>
		&lt;label for="checkbox4">
			Disabled and checked
		&lt;/label>
	&lt;/div>
				</code></pre>
			</div>

			<div id="icons" class="scrollspy">					
				<h4>Icons</h4>
				<p>
					<a href="https://material.io/icons/">Material Design Icons</a> and <a href="http://fontawesome.io/icons/">Font Awesome Icons</a> are available by default.
				</p>
				<p>
					<i class="material-icons tiny">settings</i>
					<i class="fa fa-cog" aria-hidden="true"></i>
				</p>
				Tiny
				<p>
					<i class="material-icons small">settings</i>
					<i class="fa fa-cog fa-2x" aria-hidden="true"></i>
				</p>
				Small
				<p>
					<i class="material-icons medium">settings</i>
					<i class="fa fa-cog fa-3x" aria-hidden="true"></i>
				</p>
				Medium
				<p>
					<i class="material-icons large">settings</i>
					<i class="fa fa-cog fa-4x" aria-hidden="true"></i>
				</p>
				Large
			</div>
		</div>
	</div>
</div>