meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='msapplication-tap-highlight', content='no')
meta(name='author', content='Rafael Franco')
meta(name='description', content='Yet another framework CSS.')
meta(name='theme-color', content='#263238')

if page
  title #{page} - Responsivr
else
  title Responsivr - Yet another framework CSS

link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
link(href='./dist/css/responsivr.css', type='text/css', rel='stylesheet', media='screen,projection')
link(href='./dist/css/page.css', type='text/css', rel='stylesheet')
script(src="https://use.fontawesome.com/6172352ab8.js")