/*------------------------------------------------------------
  Buttons
------------------------------------------------------------*/

button,
[type=submit] {
  padding: 1.1rem 3.5rem;
  margin: 1rem 0;
  background: $button-color;
  color: $button-text-color;
  border-radius: 0;
  border: none;
  font-size: 1.3rem;
  transition: all .2s ease;
}

button.outline,
[type=submit].outline {
  padding: 1.1rem 3.5rem;
  background: none;
  color: $button-color;
  border: 1.5px solid $button-color;
}

button:hover,
[type=submit]:hover {
  background: lighten($button-color, 5%);
}

button.outline:hover,
[type=submit].outline:hover {
  background: none;
  border: 1.5px solid lighten($button-color, 20%);
  color: lighten($button-color, 20%);
}

button:focus,
[type=submit]:focus {
  outline: none;
}

button:active,
[type=submit]:active {
  transform: scale(.99);
}