$text-color: #212121;
$link-color: #039be5;

$input-background-color: #eee;
$input-border-color: transparent;
$input-background-color-focus: #fff;
$input-border-color-focus: #eee;
$input-placeholder-color: #9e9e9e;

$button-color: #212121;
$button-text-color: #fff;

$disabled-color: #ccc;

$font-path: "../fonts/" !default;